@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/custom-utilities.css */
@layer utilities {
  .btn {
    @apply bg-primary text-white font-semibold py-2 px-4 rounded-lg shadow-lg;
  }

  .btn-secondary {
    @apply bg-secondary text-white font-semibold py-2 px-4 rounded-lg shadow-lg;
  }
}


body {
  @apply bg-gray-50 text-gray-800;
  font-family: 'Inter', sans-serif;
}

h1, h2,  h3, h4, h5, h6 {
  @apply font-bold;
}

a {
  @apply text-primary hover:text-secondary;
  text-decoration: none;
}

button {
  @apply bg-primary text-white py-2 px-4 rounded hover:bg-secondary;
}

/* styles.css */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 1200px;
}

.map-container {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #1e40af;
}

h2 {
  color: #1e3a8a;
}

footer {
  background-color: #1e40af;
}

footer p {
  font-size: 0.875rem;
}

.bg-blue-700 {
  background-color: #1e40af;
}

.text-blue-700 {
  color: #1e40af;
}


a:hover {
  transition: color 0.3s ease-in-out;
}